<!DOCTYPE html>
<html lang="en">

<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang quản trị | Kỳ thi hương quốc gia</title>

    <link href="/img/icons/logo.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" href="/components/bootstrap-4.1/bootstrap.min.css">
    <link rel="stylesheet" href="/components/font-awesome-5/css/fontawesome-all.min.css" />
    <link href="/styles/web-admin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    
</head>

<body>
    <header class="my-container">
        <div class="child header">
            <div class="left-bar">
                <div class="logo-area show-desktop-only">
                    <a href="/">
                        <div class="logo">
                            <img src="/img/resources/logo.png" alt="">
                        </div>
                        <!-- <div class="web-name noselect">
                            Kỳ thi Hương Quốc gia
                        </div> -->
                    </a>
                </div>

                <div id="btn-nav" class="btn btn-nav">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="logo-area show-mb-only">
                <a href="/">
                    <div class="logo">
                        <img src="/img/resources/logo.png" alt="">
                    </div>
                    <!-- <div class="web-name noselect">
                            Kỳ thi Hương Quốc gia
                        </div> -->
                </a>
            </div>
            <div class="status-bar">
                <ul class="nav-top">
                    <li class="user-area">
                        <span class="usr-avatar">U</i></span><span class="usr-name">User Name</span>
                        <ul class="user-setting">
                            <li>Setting</li>
                            <li>Logout</li>
                        </ul>
                    </li>
                    <li><i class="fas fa-bell"></i></li>
                    <li><i class="fas fa-envelope"></i></li>
                </ul>
            </div>
        </div>
        <div class="child app-main">
            <div id="left-menu" class="child menu">
                <ul>
                    <li><a href="/admin"><i class="fas fa-bell"></i>Dashboard</a> </li>
                    <!-- <li><i class="fas fa-plus-circle"></i>Tạo đề thi</li> -->
                    <li><a href="/admin/addExam"><i class="fas fa-list-alt"></i>Quản lý đề thi</a></li>
                    <li><a href="#"><i class="fas fa-user"></i>Danh sách thí sinh</a></li>
                    <li><a href="#"><i class="fas fa-bell"></i>Thông báo</a></li>
                </ul>
            </div>
            <div id="content" class="child content">
                <div class="container">
                    <div class="row mt-15">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Quản lý đề thi</h5>
                                </div>
                                <div class="card-body">
                                    <div class="col-12 ">
                                        <div class="right">
                                            <button id="btn-add" class="btn au-btn au-btn-icon au-btn--green au-btn--small btn btn-secondary mb-1" data-toggle="modal" data-target="#create" type="button"><i
                                                    class="fas fa-plus-square"></i> Thêm mới</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive table-responsive-data2">
                                        <table class="table table-data2">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </th>
                                                    <th>Mã đề</th>
                                                    <th>Tên đề</th>
                                                    <th>Mô tả</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Trạng thái</th>
                                                    <th>Mức độ</th>
                                                    <th class="text-center">Số câu hỏi</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="tr-shadow">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>DE001</td>
                                                    <td>
                                                        <span class="block-email">Đề 1</span>
                                                    </td>
                                                    <td class="desc">Toán học - Hóa học - Vật lý</td>
                                                    <td>2018-09-27 02:12</td>
                                                    <td>
                                                        <span class="status--denied">Denied</span>
                                                    </td>
                                                    <td>Dễ</td>
                                                    <td class="text-center">10</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button class="item add-question" data-placement="top"
                                                                data-made="3" data-soluong="20" title="Add question">
                                                                <a href="/admin/addQuestion"><i
                                                                        class="fas fa-plus-circle"></i></a>
                                                            </button>
                                                            <!-- data-soluong = item.soluong -->
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="View">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Edit">
                                                                <i class="fas fa-edit"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Delete">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr class="tr-shadow">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>DE001</td>
                                                    <td>
                                                        <span class="block-email">Đề 1</span>
                                                    </td>
                                                    <td class="desc">Toán học - Hóa học - Vật lý</td>
                                                    <td>2018-09-27 02:12</td>
                                                    <td>
                                                        <span class="status--processed">Approved</span>
                                                    </td>
                                                    <td>Dễ</td>
                                                    <td class="text-center">25</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button class="item add-question" data-placement="top"
                                                                data-made="3" data-soluong="20" title="Add question">
                                                                <a href="./add-question.html"><i
                                                                        class="fas fa-plus-circle"></i></a>
                                                            </button>
                                                            <!-- data-soluong = item.soluong -->
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="View">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Edit">
                                                                <i class="fas fa-edit"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Delete">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr class="tr-shadow">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>DE001</td>
                                                    <td>
                                                        <span class="block-email">Đề 3</span>
                                                    </td>
                                                    <td class="desc">Toán học - Hóa học - Vật lý</td>
                                                    <td>2018-09-27 02:12</td>
                                                    <td>
                                                        <span class="status--denied">Denied</span>
                                                    </td>
                                                    <td>Dễ</td>
                                                    <td class="text-center">20</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button class="item add-question" data-placement="top"
                                                                data-made="3" data-soluong="20" title="Add question">
                                                                <a href="./add-question.html"><i
                                                                        class="fas fa-plus-circle"></i></a>
                                                            </button>
                                                            <!-- data-soluong = item.soluong -->
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="View">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Edit">
                                                                <i class="fas fa-edit"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Delete">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Thêm đề thi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Mã đề</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="text-input" placeholder="Mã đề thi"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Tên đề</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="text-input"
                                    placeholder="Tên đề thi" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Mô tả</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="textarea-input" id="textarea-input" rows="9"
                                    placeholder="Mô tả đề thi" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">Trạng thái</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="select" id="select" class="form-control">
                                    <option value="0">Vui lòng chọn</option>
                                    <option value="approved">Approved</option>
                                    <option value="denied">Denied</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Độ khó</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="radio">
                                        <label for="radio1" class="form-check-label ">
                                            <input type="radio" id="radio1" name="radios" value="option1"
                                                class="form-check-input">Dễ
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radio2" class="form-check-label ">
                                            <input type="radio" id="radio2" name="radios" value="option2"
                                                class="form-check-input">Trung Bình
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radio3" class="form-check-label ">
                                            <input type="radio" id="radio3" name="radios" value="option3"
                                                class="form-check-input">Khó
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Số lượng câu hỏi</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="number" id="text-input" name="text-input"
                                    placeholder="Số lượng câu hỏi" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap-4.1/bootstrap.min.js"></script>

    <script src="/js/web-adminjs.js"></script>

</body>

</html>