<% let isLogin = true %>
            <div class="container">
                <div class="logo-area">
                    <a href="/">
                        <div class="logo">
                            <img src="/img/resources/logo.png" alt="">
                        </div>
                        <div class="web-name noselect">
                            Kỳ thi Hương Quốc gia
                        </div>
                    </a>
                </div>
                <div class="menu-bar noselect">
                    <ul class="main-nav ">
                        <li>
                            <a class="main-nav__home img-rounded" href="./">Home</a>
                        </li>
                        <li>
                            <a class="main-nav__exam img-rounded" href="./select-exam.html">Vào thi</a>
                        </li>
                        <li>
                            <a class="main-nav__rank img-rounded" href="/#golden-rank">Bảng vàng</a>
                        </li>
                        <li>
                            <a class="main-nav__lib img-rounded" href="#">Lịch sử</a>
                        </li>
                        <li>
                            <a class="main-nav__event img-rounded" href="#"> Sự kiện</a>
                        </li>

                        <li>
                            <a class="main-nav__contact img-rounded " href="#">Liên hệ</a>
                        </li>
                        <% if (isLogin){ %>
                        <li>
                            <div class="avt">
                                <div class="img-wraper">
                                    <img src="/img/user/icons8-customer-64.png" />
                                </div>
                            </div>
                        </li>
                        <% } else {%>
                        <li>
                            <a class="main-nav__contact img-rounded " href="#">Đăng nhập</a>
                        </li>
                        <% } %>
                    </ul>
                    <ul id="mySidenav" class="main-nav-mob">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <li>
                                <a class="main-nav__home img-rounded" href="./">Home</a>
                            </li>
                            <li>
                                <a class="main-nav__exam img-rounded" href="./select-exam.html">Vào thi</a>
                            </li>
                            <li>
                                <a class="main-nav__rank img-rounded" href="/#golden-rank">Bảng vàng</a>
                            </li>
                            <li>
                                <a class="main-nav__lib img-rounded" href="#">Lịch sử</a>
                            </li>
                            <li>
                                <a class="main-nav__event img-rounded" href="#"> Sự kiện</a>
                            </li>

                            <li>
                                <a class="main-nav__contact img-rounded " href="#">Liên hệ</a>
                            </li>
                            <% if (isLogin){ %>
                            <li>
                                <div class="avt">
                                    <div class="img-wraper">
                                        <img src="/img/user/icons8-customer-64.png" />
                                    </div>
                                </div>

                            </li>
                            <% } else {%>
                            <li>
                                <a class="main-nav__contact img-rounded " href="#">Đăng nhập</a>
                            </li>
                            <% } %>
                        </ul>
                </div>
                <div id="btn-open-menu" class="btn-menu">
                    <img src="/img/icons/three-dot-menu.png">
                </div>
            </div>
