<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
        <link rel="stylesheet" type="text/css" href="/components/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
    <div id="wraper-animation" class="wraper-bg">
        <nav class="nav-bar">
            <%- include partials/header %>
        </nav>
   
        <div class="container outer-wraper">
            <div class="slogan noselect">
            <h1 style="word-spacing: 20px;">Hiền tài là nguyên khí quốc gia</h1>
            <%# <h1>tài</h1>
            <h1>là</h1>
            <h1>nguyên</h1>
            <h1>khí</h1>
            <h1>Quốc</h1>
            <h1>gia</h1> %>
            <!-- <div></div>       -->
            </div>
            <div class="join-area">
                <ul class="btn-join">
                <li class="btn first">
                <a href='/users/choose-exam'>Vào Thi</a>
                </li>
                <li>
                    <ul class="wrap-btn">
                    <% if (!isLoggin) { %>
                        <li class="btn second"><a href='/users/signup'>Đăng ký</a></li>

                    <% } %>
                    <li class="btn second"><a href=#>Lịch thi</a></li>
                    </ul>
                </li>

                </ul>
            </div>
        </div>
    </div>

    <main class="container">
        <section id="golden-rank" class="row">
            <div class="col-12">
                <div class="golden-rank justify-content-center">
                    <div class="king-paper">
                        <img src="/img/bang-vang/tc-ngang-vang.png">
                        <span class="title">Bảng vàng</span>
                    </div>
                    <div class="user-rank">
                        <div>
                            <h3 style="text-align: center; margin-bottom: 10px;">Danh sách các thí sinh đỗ đạt làm quan</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ tên</th>
                                    <th>Quê quán</th>
                                    <th>Tổng điểm</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr class="first">
                                    <td>1</td>
                                    <td>Nguyễn Niê Đức Thịnh</td>
                                    <td>Đăk Lăk</td>
                                    <td>100</td>
                                </tr>
                                <tr class="second">
                                    <td>2</td>
                                    <td>Trần Bảo An</td>
                                    <td>Hà Giang</td>
                                    <td>98</td>
                                </tr>
                                <tr class="third">
                                    <td>3</td>
                                    <td>Lê Trung Đại</td>
                                    <td>Lào Cai</td>
                                    <td>94</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Nguyễn Hoàng Quân</td>
                                    <td>Bình Định</td>
                                    <td>89</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Đặng Bảo Chương</td>
                                    <td>TP HCM</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Đỗ Quang Hải Minh</td>
                                    <td>Bắc Ninh</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Lê Vũ Hải</td>
                                    <td>Gia Lai</td>
                                    <td>85</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Y Quân Kbuôr</td>
                                    <td>Đăk Lăk</td>
                                    <td>80</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Đào Thị Tuyết</td>
                                    <td>Thừa Thiên Huế</td>
                                    <td>79</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Nông Hoàng Anh</td>
                                    <td>Cao Bằng</td>
                                    <td>77</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
            </div>
        </section>  
    </main>
    <%- include partials/footer %>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="/js/navigation.js">
    </script>
    <script src="/js/change-bg.js">
    </script>
</body>
</html>
