<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head%>    

    <meta name="google-site-verification" content="hLKr7AIG0s_bxOvFV534GESJnOVFfBtZbyoz8yid97Q" />

   
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/partials.css">
    <link rel="stylesheet" href="/styles/exam.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
     <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.css" /> 

    <link rel="stylesheet" href="/styles/font-face.css">
</head>

<body>
    <!-- div maker -->
    <div>
        <!--Desktop Nav bar-->
        <nav  class="nav-desktop">
        <%- include ../partials/header %>
        </nav>
    </div>
    <main class="container main-select-exam">
        <div class="row">
            <div class="col-12">
                <div class="exam-usr-info row">
                    <div class=" col-lg-4">
                        <div class="avt-name">
                            <div class="avt">
                                <div class="img-wraper">
                                    <img src="/img/user/icons8-customer-64.png" />
                                </div>
                            </div>
                            <div class="name-info ">
                                <ul>
                                    <li class="name">Phạm Quyền Anh</li>
                                    <li><span class="em">Quê quán:</span> Xã Bảo Hưng, H.An Lạc, Tỉnh Bình Thuận</li>
                                    <li><span class="em">CMND/CCCD:</span> 212333112</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="more-info">
                            <div class="h-blue">
                                Thông tin khác
                            </div>
                            <div>
                                <ul>
                                    <li><span class="em">Ngày sinh:</span> 09/11/2004</li>
                                    <li><span class="em">Điện thoại:</span> 0211987232</li>
                                    <li><span class="em">Email:</span> anhquyen098@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-us">
                            <div class="h-blue">
                                Liên hệ
                            </div>
                            <div>
                                <ul>
                                    <li>Ngày sinh: 09/11/2004</li>
                                    <li>Điện thoại:0211987232</li>
                                    <li>Email: anhquyen098@gmail.com</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row exam-border">
                    <div class="col-lg-9 col-md-12 exam">

                        <div id="questions-place">

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="exam-manager">
                                    <div id="close-manager" class="btn-close"><span><img
                                                src="/img/icons/icons8-timer-30.png"></span></div>
                                    <div class="timer-area">
                                        <span>Thời gian: </span>
                                        <span id="clock" class="timer"></span>
                                    </div>
                                    <div class="timer-area test-id">
                                        <span>Bộ đề: </span>
                                        <span id="test-id" class="id">981</span>
                                    </div>
                                    <div class="flag">
                                        <h5>Quản lý câu hỏi</h5>
                                        <table id="flag-list">

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="submit-area">
                                    <a id="submit-test">Nộp bài</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <script src="/components/jquery/dist/jquery.min.js"></script>

    <script src="/components/jquery.countdown/dist/jquery.countdown.js"></script>
    <!-- <script src="assets/js/exam-page/countdown.js"></script>
  <script src="assets/js/exam-page/load-flag.js"></script> -->
    <script src="/js/exam-page/exam-page.js"></script>
    <script src="/js/navigation.js">
    </script>
    <footer>
       <%- include ../partials/footer%>
    </footer>
</body>

</html>