<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
    <link rel="stylesheet" href="/components/bootstrap-4.3.1-dist/css/bootstrap-grid.css" >
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <!-- div maker -->
    <nav  class="nav-bar nav-black">
        <%- include ../partials/header %>
    </nav>
    <main class="wraper-bg">
        <div class="div-outer">
            <div class="container outer-wraper outer-wraper-100vh justify-content-center">
                <div class="row">
                    <div class="col-lg-12 login-wraper">
                        <div class="nb-card login-form">
                            <div class="nb-card-head">
                                <h3>Đăng nhập</h3>
                            </div>
                            <div class="nb-card-body">
                                <form action="/users/login" method="POST">
                                    <input type="text" name="username" class="normal-input" placeholder="Tài khoản">
                                    <input type="password" name="password" class="normal-input" placeholder="Mật khẩu">
                                    <input type="submit" value="Đăng nhập" />
                                    <div><a href=#>Quên mật khẩu?</a></div>
                                </form>
                            </div>
                            <div class="nb-card-foot">
                                <div>Chưa có tài khoản? <a href='/users/signup'>Đăng ký ngay</a></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </main>
    
    <footer>
        <%- include ../partials/footer%>       
    </footer>
    <script src="/components/jquery/dist/jquery.min.js"></script>

    <script src="/js/navigation.js">
    </script>
</body>

</html>