<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Trang web chính thức của kỳ thi Hương">
    <meta name="keywords"
        content="thi hương, kỳ thi hương, thi hương thời lê, thi trắc nghiệm, bảng vàng, đỗ đạt, làm quan, hiền tài là nguyên khí quốc gia, hiền tài, Lê Đại Hành, thi quoc gia, hien tai la nguyen khi quoc gia, thi, thi huong, nha le, ky thi huong">
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="google-site-verification" content="hLKr7AIG0s_bxOvFV534GESJnOVFfBtZbyoz8yid97Q" />

    <title>Kết quả của thí sinh | Kỳ thi Hương Quốc gia</title>

    <link href="./assets/icons/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="./bower_components/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link rel="stylesheet" href="./assets/styles/partials.css">
    <link rel="stylesheet" href="./assets/styles/exam.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

</head>

<body>
    <!-- div maker -->
    <header>
        <!--Desktop Nav bar-->
        <nav class="nav-bar nav-black">
            <div class="container">
                <div class="logo-area">
                    <a href="./index.html">
                        <div class="logo">
                            <img src="./assets/img/resources/logo.png" alt="">
                        </div>
                        <div class="web-name noselect">
                            Kỳ thi Hương Quốc gia
                        </div>
                    </a>
                </div>
                <div class="menu-bar noselect">
                    <ul class="main-nav ">
                        <li>
                            <a class="main-nav__home img-rounded" href="./index.html">Home</a>
                        </li>
                        <li>
                            <a class="main-nav__exam img-rounded" href="./select-exam.html">Vào thi</a>
                        </li>
                        <li>
                            <a class="main-nav__rank img-rounded" href="/index.html#golden-rank"> Rank</a>
                        </li>
                        <li>
                            <a class="main-nav__lib img-rounded" href="#">Thư viện</a>
                        </li>
                        <li>
                            <a class="main-nav__event img-rounded" href="#"> Sự kiện</a>
                        </li>

                        <li>
                            <a class="main-nav__contact img-rounded " href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <ul id="mySidenav" class="main-nav-mob">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <li>
                            <a class="main-nav__home img-rounded" href="./index.html">Home</a>
                        </li>
                        <li>
                            <a class="main-nav__exam img-rounded" href="./select-exam.html">Vào thi</a>
                        </li>
                        <li>
                            <a class="main-nav__rank img-rounded" href="/index.html#golden-rank"> Rank</a>
                        </li>
                        <li>
                            <a class="main-nav__lib img-rounded" href="#">Thư viện</a>
                        </li>
                        <li>
                            <a class="main-nav__event img-rounded" href="#"> Sự kiện</a>
                        </li>

                        <li>
                            <a class="main-nav__contact img-rounded " href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div id="btn-open-menu" class="btn-menu">
                    <img src="./assets/icons/three-dot-menu.png">
                </div>
            </div>
        </nav>
    </header>
    <main class="container main-select-exam">
        <div class="row">
            <div class="col-12">
                <div class="exam-usr-info row">
                    <div class=" col-lg-4">
                        <div class="avt-name">
                            <div class="avt">
                                <div class="img-wraper">
                                    <img src="/assets/img/user/icons8-customer-64.png" />
                                </div>
                            </div>
                            <div class="name-info ">
                                <ul>
                                    <li class="name">Phạm Quyền Anh</li>
                                    <li><span class="em">Quê quán:</span> Xã Bảo Hưng, H.An Lạc, Tỉnh Bình Thuận</li>
                                    <li><span class="em">CMND/CCCD:</span> 212333112</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="more-info">
                            <div class="h-blue">
                                Thông tin khác
                            </div>
                            <div>
                                <ul>
                                    <li><span class="em">Ngày sinh:</span> 09/11/2004</li>
                                    <li><span class="em">Điện thoại:</span> 0211987232</li>
                                    <li><span class="em">Email:</span> anhquyen098@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-us">
                            <div class="h-blue">
                                Xếp hạng
                            </div>
                            <div>
                                <ul>
                                    <li><span class="em">Hạng quốc gia: </span> 12</li>
                                    <li><span class="em">Hạng địa phương: </span>1</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row exam-border" style="height: 100%">
                    <div class="col-12">
                        <div class="my-result">
                            <div style="text-align: center; font-size: 30px; color: red;">
                                Kết quả
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Mã đề</th>
                                        <th>Ngày thi</th>
                                        <th>Số câu đúng</th>
                                        <th>Tổng điểm</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>991</td>
                                        <td>15:30:25 23/08/2018</td>
                                        <td>30/50</td>
                                        <td>7.2</td>
                                        <th><button>Xem lại</button></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Some scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery.countdown/dist/jquery.countdown.js"></script>
    <!-- <script src="assets/js/exam-page/countdown.js"></script>
  <script src="assets/js/exam-page/load-flag.js"></script>
  <script src="assets/js/exam-page/test-load.js"></script> -->
    <script src="./assets/js/navigation.js">
    </script>

    <!-- Footer  -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 copyright">
                    <h4>&copy; Kỳ thi Hương Quốc gia</h4>
                    <p>Designed by thinhnnd and pxt</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>