<!DOCTYPE html>
<html lang="en">
<head>
 
    <%- include ../partials/head %>
    <link rel="stylesheet" href="/components/bootstrap-4.3.1-dist/css/bootstrap-grid.css" >
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <div class="container">
    <form action="/users/register" method="POST" role="form">
        <legend>Register</legend>
    
        <div class="form-group">
            <label for="">label</label>
            <input type="text" class="form-control" id="" name="username" placeholder="username">
            <input type="password" name="password" id="input" class="form-control" required="required" title="" placeholder="password">
            <input type="password" name="password2" id="input" class="form-control" required="required" title="" placeholder="password again">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    </div>
    
</body>
</html>